
html{
    width: 100%;
    scroll-behavior: smooth;
    font-family: 'Barlow', sans-serif;
    color: #868786;
    margin: 0em;
    padding: 0em;
    overflow-x: hidden;
}
.nav_logo{
    padding: .8rem 5rem 1rem 1rem;
}
.nav-wrapper{
    color: #868786;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 400;
    z-index: 3;
    box-sizing: border-box;
    border-bottom: .1px solid #dde4dd;
 }
.nav-group1{
    display: flex;
    border-left: .1px solid #dde4dd;
    font-family: 'Barlow', sans-serif;
    /* border-right: .1px solid #dde4dd;  */
}
.customdropdown{
    /* display: none; */
    position: absolute;
    z-index: 2;
}
li{
    list-style: none;
    padding: .5rem 1rem;
    font-weight: 300;
    color: #868786;
    margin: 5px 15px;
}
li:hover{
    color: rgba(0,103,54);
    background-color: #f8f7f7;
}
.navitem{
    display: flex;
    padding-left: 1rem;
    padding-top: 5px;
}   
ul{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 30px;
    background-color: white;
    padding: 1rem;
}

.nav-group1:hover .nav_titles:hover ul {
    display: block;
}
.envelopearea:hover {
    color: white;
    padding: 1px 0.3rem 1px;
    font-size:30px;
    background: rgb(248, 136, 36,.8);
    transition: 1s ease-in-out ;
}
.envelopearea{
    margin: 0px;
    color:rgb(248, 136, 36,.8);
    padding: .1px 0.3rem 1px;
    font-size:30px;
    transition: 1s ease-in-out ;
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}
.submitlocation{
    font-size: 16px;
    position: relative;
    border-radius: 2rem;
    padding: 5px 2rem;
    color: rgba(0,103,54);
    background: white;
    border: 1px solid rgb(64, 133, 110);
    top: 1rem;
}
.submitlocation{
    outline: none;
}
.nav_title1{
    padding-top: 1rem;
    position: relative;
    bottom: .5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    cursor: pointer;
}
.nav_titles{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    cursor: pointer;
}
.nav_titles:hover{
    color: rgba(0,103,54);
    text-decoration: none;
}
.nav-container{
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 30px;
}
.firstcontentwrapper{
    margin-top: 3.7rem;
    padding-left: 0rem;
}
.car_rental1{
    font-weight: 300;
}
.carrental{
        position: absolute;
        right: 31%;
        font-size: 2.7em;
        font-weight: 300;
        border-radius: 1rem;
        background: rgba(255, 254, 254, 0.6);
        color: #9a9e9a;
        top: 48%;
        text-align: center;
        width: 39%;
        margin-top: -50px;
        padding: 1rem;
        height: 13rem;
    }
.fa-sort-down{
    position: relative;
    bottom: 3px;
}
.intoheader{
    text-transform: uppercase;
    font-size: 2.6em;
    padding-top: 2rem;
    font-weight: 400;
    color: #868786;
}
.mySlides {
    display:none;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: 1365px;
    background: rgba(0, 0, 0, 0.512);
}
.subheader{
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(15, 51, 33);
}
.firsttoplogo{
    position: absolute;
}

.body-right{
    /* background-image: url('./assets/how-it-works.png'); */
    backface-visibility: unset;
    z-index: 1;
    position: fixed;
}
.firstimage{
    position: relative;
    bottom: 42px;
}
.firstrow{
    padding-top: 0rem;
    padding-right: 0px;
    /* position: relative;
    bottom: 1rem; */
}
.navsearch{
    border: 0px;
    border-color: #868786;
    padding: 4px 0;
    color: #868786;
    letter-spacing: 0;
    /* position: relative;
    left: 0rem; */
}
.fa-search{
    position: relative;
    left: 8rem;
}
.navsearch:focus{
    outline: none;
    /* border-bottom: 1px solid; */
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
@media(min-width:777px){
    .mobileview{
        display: none;
    }
}
@media(max-width:777px){
    .mobileview{
        display: block;
    }
    .carrental{
        display: none;
    }
    .fa-bars{
        color: rgba(0,103,54);
        padding-top: 1rem;
        cursor: pointer;
    }
    .nav-group1{
        display: none;
    }
    
.sidebar{
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 10; /* Stay on top */
    top: 0;
    background: linear-gradient(rgb(10, 29, 21),rgb(64, 133, 110),rgb(111, 143, 133));
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
}
/* bouncing arrow */
.arrow
{
    position: relative;
    bottom: 3rem;
    cursor: pointer;
    left: 50%;
    margin-left:-20px;
    width: 40px;
    height: 40px;
  
  /**
   * Dark Arrow Down
   */
  background-image: url('./assets/downarrow.svg');
   background-size: contain;
}

.bounce {
  animation: bounce 6s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.chooselocation{
    font-size: 20px;
    position: relative;  
    top: 2rem;
}
.location{
    width:80%;
    text-align: center;
    min-height: 40%;
    border: none;
    color: rgba(0,103,54);
    padding: 0px 3px;
    font-weight: 300;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background: rgba(255, 255, 255, 0.774);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 30px;
    transition:.5s ease-in-out ;
}
::placeholder{
    color: rgba(0,103,54);
}
::ms-input-placeholder{
    color: rgba(0,103,54);
}
.location:focus{
    outline: none;
    /* width:39%; */
    transition:.5s ease-in-out ;
}
.car_rental{
    color: rgba(0,103,54);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.096);
    padding: 0px 4px 0px;
}
.micronav{
    cursor: pointer;
    width: 150px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 30px;
    font-size: 15px;
    position: fixed;
    z-index: 4;
    color: #9a9e9a;
    padding: 0px 2px 2px 2px;
    border-radius: 7px;
    top: 42%;
    background: white;
    left: 97%;
    transition: .5s ease-in-out;
}
.micronav:hover{
    left: 89%;
    transition: .5s ease-in-out;
}
.micronav1{
    cursor: pointer;
    width: 150px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 30px;
    font-size: 15px;
    z-index: 4;
    color: #9a9e9a;
    padding: 0px 2px;
    border-radius: 7px;
    background: white;
}

.carsvg{
    width: 40px;
    cursor: pointer;
}
.servcthum{
    font-size: 11px;
    font-weight: 300;
    padding-left: 5px;
}
/* testimonials */
.testimonial_subtitle{
    color: #0aaa7a;
    font-size: 12px;
}
  .testimonial_btn{
    background-color: #373d4b !important;
    color: #fff !important;
 }
 .seprator {
    height: 2px;
    width: 56px;
    background-color: #0aaa7a;
    margin: 7px 0 10px 0;
}
.testimonDetails{
    padding-left: 3rem;
}
.testimonialwrapper{
    padding: 1rem ;
}
  /* testimonials */
  /* test */
  .element-to-hide{
    visibility:hidden; 
} 
.slideRight {
    visibility: visible;
    animation-name: slideRight;
    -webkit-animation-name: slideRight;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out; 
}

@keyframes slideRight {

    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }               
    100% {
        transform: translateX(0%);
    }   

}

@-webkit-keyframes slideRight {

    0% {
        -webkit-transform: translateX(-150%);
    }
    50%{
        -webkit-transform: translateX(8%);
    }
    65%{
        -webkit-transform: translateX(-4%);
    }
    80%{
        -webkit-transform: translateX(4%);
    }
    95%{
        -webkit-transform: translateX(-2%);
    }           
    100% {
        -webkit-transform: translateX(0%);
    }

}
/* test */
.car_rental{
    font-weight: 300;
}
/* autocomplete */
.autocomplete-items {
    padding: 1px ;
    background: rgba(255, 255, 255, 0.096);
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items  div:first-child {
    padding: 1px;
    display: table;
    font-size: 15px;
    width: 80%;
    margin: auto;
    cursor: pointer;
    background-color: rgba(255, 254, 254, 0.6); 
    border-bottom: 1px solid #d4d4d4; 
  }
  .autocomplete-items div:nth-child(0){
    background-color: rgba(255, 254, 254, 0.6);
  }
  /*when hovering an item:*/
  /* .autocomplete-items div:hover {
    background-color: #; 
  } */
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
  /* autocomplete */
  .wrapperlocation{
      display: flex;
    width: 30%;
    justify-content: space-between;
    text-align: right;
    font-size: 16px;
    position: relative;
    left: 30rem;
    top: 5rem;
    transition: 1s ease-in-out;
  }
  .wrapper1{
    padding: .3rem 2rem;
  }
   .wrapper1{
      font-size: 13px;
      display: flex;
      background-color: none;
      flex-direction: row;
      text-align: left;
  }
   .wrapper1 p {
       cursor: not-allowed;
      background: inherit;
      margin-bottom: 0px;
      padding: 3px 9px;
  }
  .fa-map-marker{
      color: #373d4b;
  }
  a .nav_titles{
      color: #868786;
      text-decoration: none;
  }
  a:active div{
      color: #868786;
      text-decoration: none;
  }
  a:hover div .nav_titles{
    color: rgba(0,103,54);
    text-decoration: none;
  }

  .aboutustitle{
    text-align: left;
    opacity: .7;
    padding: 8rem 0px 4px;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 100;
    margin-left: 7rem;
    color: #868786;
    line-height: 30px;
  }
  .contactustitle{
    text-align: left;
    opacity: .7;
    padding: 9rem 0px 9rem 0px;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 100;
    margin-left: 7rem;
    color: #868786;
    line-height: 30px;
  }
  .imagecompany{
      padding-bottom: 4rem;
  }
  .foundyear{
    font-size: 2.77em;
    color: #868786;
    font-weight: 100;
  }
  .foundyear3{
    text-align: center;
    font-size: 2.77em;
    color: #868786;
    font-weight: 300;
  }
  .foundyear1{
    font-size: 1.77em;
    font-weight: 100;
    opacity: .7;
    color: rgb(248, 136, 36);
    line-height: 1;
  }
  .firstrowabout{
    margin-left: 8rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
  }
  .aboutrw1{
      margin-left: 6rem;
  }
  .firsttextabout{
    color: #868786;
    line-height: 1px;
    word-spacing: 3px;
    text-align: justify;
  }
  .ft{
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 0px;
  }
  .foundyear2{
    font-size: 1em;
    margin-bottom: 1rem;
    font-weight: 100;
    color: rgb(248, 136, 36);
    line-height: 1;
  }
  .valueswrapper{
      background: white;
      margin: auto;
      padding-left: 4rem;
      padding-right: 4rem;
      padding-bottom: 2rem;
      box-sizing: border-box;
      position: relative;
      top: 10rem;
  }
  .ourvalueswrapper{
      background-image: url('./assets/ourvalues.jpg');
      background-position: fixed;
      background-repeat: no-repeat;

  }
  .valuetext{
    padding:1rem 1rem;
    word-spacing: 3px;
    text-align: justify;
    color: #868786;
  }
  .foundyear4{
    font-size: 2.4em;
    margin-bottom: 1rem;
    font-weight: 100;
    text-transform: uppercase;
    color:#868786;
    line-height: 1;
  }
  .foundyear5{
    font-size: 2.4em;
    font-weight: 100;
    opacity: .7;
    color: rgb(248, 136, 36);
    line-height: 1;
    text-transform: uppercase;
  }
  .text-header-ab{
    /* margin-top: 3em; */
    font: 300 2em/1.11;
    line-height: 1.2;
    color: #868786;
    font-size: 1.0em;
    text-transform: capitalize
  }
  .OUR_IMPACT{
    position: relative;
    top: 18rem;
    padding: 2rem;
    box-sizing: border-box;
    margin-left: 240px;
  }
  .first-text{
    margin: 1.5em 0;
    color: rgb(134, 135, 134);
  }
  .secondsce{
      position: relative;
      background-color: white;
      top: 10rem;
      left: 3rem;
      margin-left: 8rem;
      margin-top: 2rem;
  }
.standaloneimage{
    bottom: 1px;
    position: relative;
    right: -61rem;
    top: -15rem;
}
@media(max-width:799px){
    .standaloneimage{
        display: none;
    }
}
.text-undercontact{
    font-size: 17px;
    padding: 0.6rem .5rem;
    text-transform: none;
    width: 70%;
    text-align: justify;
    /* border: 1px solid #dbe0db; */
}
.logoorange{
    color: rgb(248, 136, 36);
}
.changesize{
    font-size: .7em;
}
.arrowrright{
    color: rgb(248, 136, 36);
    font-weight: 600;
    margin-left: 2rem;
}
.arrowdown{
    color: rgb(248, 136, 36);
    font-weight: 600;
    margin-left: .5rem;
}
.firstab{
    cursor: pointer;
}
.tab-wrapper{
    margin-top: 15rem;
    color: #9a9e9a;
}
.tab-wrapper1{
    margin-top: 2rem;
    color: #9a9e9a;
}
.firstab{
    display: block;
    padding: 0 2em;
    position: relative;
    background: #fff;
    border: 1px solid #EEE;
    -webkit-transition: color 0.2s ease,border 0.2s ease;
    transition: color 0.2s ease,border 0.2s ease;
    z-index: 2;
    color: #868786;
    font-size: .89em;
    line-height: 5em;
}
.xc{
    margin-top: 2rem;
}

.firstdivwrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    padding-top: 5rem;
    background-repeat: no-repeat;
    background: url('./assets/board-zb.jpg');
    background-size: cover;
    background-position: center;
}

.bodtilte{
    font-size: 40px;
    line-height: 50px;
    color: #ffffff;
    padding: 1rem 6rem;
}
.bodcontent{
    font-size: 17px;
    line-height: 22px;
    width: 60%;
    color: #ffffff;
    word-spacing: 2;
    padding: 0rem 6rem;
    font-weight: 200!important;
}
.firsbod1{
    color: #868786;
    margin: auto;
}
.moreaboutbod{
    text-align: justify;
}
.chairman{
    margin: auto;
}
.c11{
    margin-bottom: 6rem;
    margin-top: 1rem;
}
.crowcolor{
    background-color: #fffdfd;
    padding: 40px 0rem;
}
a {
    color: #868786;
    text-decoration: none;
  }
.nav_titles a:active{
    color: rgba(0,103,54);
} 
a:active{
    color: none;
}
a:hover{
    color: rgba(0,103,54);
    text-decoration: none;
} 